:root {
  --red: #d22f2d;
  --blue: #2DA8D8FF;
  --black: #333;
}


body {
  color: var(--black) ;
}

.container {
    max-width: 550px;
    margin: 20px auto;
}

.title {
    color: var(--red);
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    margin-top: ;
    padding: 10px;
}

.inp {
   width: 143px;
}


.tabletitle {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
}

.contour {
    border: solid 1px;
    margin: 0 12px 10px 10px 
}

.liste {
    border: solid 1px black;
    margin: auto;
    width: 100%;
    position: 
}

.km0 {
    margin: 0 65px 0 0 ;
    color: var(--red);
}

.flexbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.close {
    cursor: pointer;
    color: black;
}

.asterix {
    position: absolute;
    bottom: 0;
    font-size: 80%;
}